@media (min-device-width: 200px) 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait){
        .skill-png{
            margin-right: -0.4rem;
        }
        .contact-png{
            margin-right: 3rem;
        }
}
@media (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .container{
    flex-direction: column;
    height: auto;
  }
  .left{
    width: 100%;
    border-right: none;
  }
      .right{
          width: 100%;
      }
      .skill{
          font-size: 14px;
          margin-right: 5.5rem;
    
      }
      .circle{
          margin-left: -2.5rem;
      }
      .skill-png{
          margin-left: -5rem;
      }
      .skill-png span{
          margin-right: 0.2rem;
      }
      .circle-box1{
           margin-left: 2rem;
      }
      .contact{
          font-size: 14px;
      }
      .contact-png{
        margin-left: -4rem;
      }
      .circle-box2{
        margin-left: 3rem;
      }
      .right h1{
          text-align: left;
          margin-left: 0.5rem;
          margin-bottom: 2rem;
      }
      .right h3{
        margin-left: 1rem;
          width: 100%;
          font-size: 16px;
      }
      .project-container{
          display: block;
          width: 100%;
      }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      .skill-png{
          margin-right: 0.6rem;
      }
      .contact-png{
          margin-right: 4rem;
      }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .img-box{
          margin-left: -2rem;
      }
      .skill{
          margin-right: -10rem;
      }
      .skill-png{
          margin-left: -8.5rem;
      }
      .circle{
          margin-right: 0.2rem;
      }
      .circle-box1{
          margin-left: -4.5rem;
      }
      .contact{
          margin-right: -10rem;
      }
      .circle-box2{
          margin-left: -3.5rem;
      }
      .contact-png{
          margin-left: -9rem;
      }
}
@media only screen 
  and (min-device-width: 390px) 
  and (max-device-width: 530px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {


      .skill-png{
          margin-right: 2.5rem;
      }
     .contact-png{
      margin-right: 7rem;
    }
 }